@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --theme-color: #e9245f;
    --minion-yellow: #fcc100;
    --pirate-yellow: #283618;
    --primary-color : #bc2188;
    --secondary-color : #fadfee;
}

img {
    margin-left: 3rem;
    transform: scaleX(-1);
    height: auto;
    max-width: 100%;
}

.mid-logo {
    margin-left: 0;
    padding-left: 3rem;
}

.mid-img {
    padding-right: 3rem;
    margin-left: 0;
}

.thghtext-2 {
    color: #d81142;
}

.thghttext {
    padding-top: 8rem;
    font-size: 1rem;
    color: #66334d;
    line-height: auto;
    font-weight: 800;
    letter-spacing: -.02em;
    max-width: 18em
}



/*------------------------------------------------------Hypo---------------------------------------------------- */

.nav{
    /* background-color: var(--theme-color); */
}

.nav-links {
    display: inline-flex;
    margin: 0rem ;
}

.nav-links-center {
    display: flex;
    margin: auto ;

}

.formula {
    width: 30%;
    text-align: center;
    margin: 1.2rem 30rem;
    margin-bottom: 2.5rem;
    border: 1px dashed var(--formula-color);
    border-width: .15rem;
    padding: .4rem;
}
.list-inline {
    color: #fff;
    list-style: none;
    margin: 1.3rem;
    font-size: 1.2rem;
}

h4{ 
padding-bottom: 2rem;   
    margin: auto;
    color: var(--theme-color);

}

a {
    text-decoration: none;
    color: var(--pirate-yellow)
}

a:hover {
    color : var(--secondary-color);
    font-weight: bold;
    letter-spacing: 1.3px;
}

.Scnd-header {
    text-align: center;
    margin: 2.5rem;
}

h1 {
    color: var(--theme-color);
    font-size: 2.5rem;
}

label, button{
    display: block;
}

.container {
    text-align: center;
    width: 100%;
}

.label {
    margin : 0.5rem
}

.inp-side{
    height: 1.8rem;
    width: 30%;
    padding: 0.2rem 1rem;
    margin-bottom: 1.3rem;
    border: none;
    border-radius: .5rem;
}
.currenttabselected{
    background-color:var(--theme-color);
    color: #fff;
}

.calArea {
    margin: auto;
    font-family: Montserrat;

    border: none;
    border-radius: .6rem;
    height: 3.5rem;
    width: 15rem;
    background-color: var(--theme-color);
    color : white;
    font-size: 1rem;
    transition: all.2s;
}

.calArea:hover {
    font-weight: 600;
    width: 16rem;
    height: 3.6rem;
    position: sticky;
    background-color: rgb(85, 5, 25);
}

.outputMsg {
    margin:auto;
}



/*------------------------------------------------------triaarea--over------------------------------------------------ */












.resumetext {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 1.5em;
    max-width: 35em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.container {
    height: 5rem;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1.5rem;

}

body {
    margin: 0;
    width: 100%;
    min-width: 320px;
    background-color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased
}

.header {
    padding-top: 1.5rem;
}

.navbar {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff
}

.first_name {
    fill: var(--theme-color)
}

.last_name {
    fill: var(--theme-color)
}

a {

    color: var(--theme-color);
    text-decoration: none;
}

.navbar__links {
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    display: flex;

}

.navbar__links-item {
    text-decoration: none;
}

.navbar__links-item:not(:last-child) {
    padding-right: 2rem
}


.section {
    position: relative;
    padding-top: 4rem;
display: contents;

}

.section__container {
    position: relative;
    z-index: 2;
}



.middle-content {
    display: flex;
    justify-content: center
}

.middle-text {


    display: block;

}

.hero_label {

    display: block;
    font-size: 15pt;
    letter-spacing: .03em;
    font-weight: 600;
    text-transform: uppercase;
    color: #bf888f
}

.profile-photo {
    display: block;
}

.centered-block {
    margin-top: 10rem;
    align-items: center;
}

.hero__title {
    margin-top: 0;
    font-size: 3rem;
    color: #663342;
    line-height: 45pt;
    font-weight: 800;
    letter-spacing: -.02em;
    max-width: 11em
}

.blog__title {
    margin-top: 0;
    font-size: 1.85rem;
    color: #663337;
    line-height: 35pt;
    font-weight: 400;
    letter-spacing: -.02em;
    max-width: 19em
}

.hero__title-intro {
    font-size: 4rem;
    margin-bottom: 3rem;
    color: var(--theme-color);
    font-weight: 700;
    letter-spacing: -.02em;
    max-width: 11em
}

.section-input {
    padding-top: 2rem;
    padding-left: 5rem;
    display: block;
    justify-content: left;
}

.abouttext {
    font-size: 1.5em;
    max-width: 35em;
    margin-left: 5rem;
    margin-right: auto;
    max-width: 1000px;

}



.input-label {
    font-size: 18pt;
    font-weight: 600;
    display: flex;
    font-size: large;
    font-weight: 600;
}

h2 {
    text-align: center;
height: 5rem;
padding: 3rem 1rem 9rem 1rem;
font-size: 2rem;
color: #bc2841;

}

.technicalskillbg {
    padding: 20px auto;
    background-color: #f5f5f5;
}

.wrapper {
    padding: 0 220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blog-wrapper {
    padding: 0 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.no-bullets {

    list-style: none;
    display: flex;


}

.no-bullets-small {
    padding-left: 0;
    list-style: none;
    display: flex;
}

h3 {
    font-size: 2.1rem;
    color: #663333;
}


.blog-title {
    line-height: 70px;
    font-size: 4rem;
    color: #663337;

}

.blog-middle-content {
    padding-top: 8rem;
    display: flex;
    justify-content: left;
}





a {
    text-decoration: none;
}



/* ===========================================================footer================================================= */







.footer {
    margin: 0px;
    background-color: var(--theme-color);

}

.footer__inner {
    margin: 0;
    padding: em;
    display: flex;
}

.footer__section {

    padding-top: 1em;
    margin-bottom: 1em;

    font-weight: 500;
    font-size: 1.5em;
    color: ivory;
    margin-bottom: 0px;
    display: block;

}

.footer__social-list {
    margin-top: 1.1em;
    padding-left: 0;
    list-style: none;
    display: inline-flex;
}

.footer__social-link {
    text-decoration: none;
    padding: 10px;

}

.footer__social-icon {
    height: 32px;
    color: white;
    fill: #fff;

}

.footer__social-icon:hover {
    height: 35px;
}

a:hover {
    margin-left: .5rem;
    display: inline-block;
    padding: .35em .6em;
    border-radius: .25rem;
    background-color: rgba(214, 5, 92, 0.932);
    white-space: nowrap;
    font-weight: 600;
    font-size: .975rem;
    color: rgba(255, 255, 255, 0.945);

    transition: ease-out .2s;
}


a:active {
    margin-left: .5rem;
    display: inline-block;
    padding: .35em .6em;
    border-radius: .25rem;
    background-color: rgba(51, 61, 102, .07);
    line-height: 1;
    white-space: nowrap;
    font-weight: 600;
    font-size: .975rem;
    color: rgba(51, 61, 102, .8);


}